// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.my-right-panel {

  .item {
    display: block;
    padding: 10px;
    background-color: rgba(255,255,255, 0.6);
    font-weight: 600;
    margin-bottom: 2px;
    transition-delay: 2s;
    &:hover {
      background-color: #ffffff;
    }

    a {
      text-transform: none;
    }
  }

  .icon-heart {
    display: block;
    left: 50%;
    position: relative;
    margin: 20px -18px 20px 0;

    &::before {
      font-size: 46px;
      color: #ff8787;
    }
  }
}
